#about {
	background-color: rgba(0,0,0,0);
}
#about .content {
	display: table;
	height: 100%;
	background-image: url(images/about_bg.png);
	background-color: white;
	background-position: center;
}
#about .description {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

#about .content .description .what { background-image: url(images/card_01.jpg); }
#about .content .description .who  { background-image: url(images/card_02.jpg); }
#about .content .description .how  { background-image: url(images/card_03.jpg); }

.text-table-container {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
	.card-text {
		display: table;
	}
		.card-text-header {
			font-weight: bold;
			font-size: 30px;
			padding: 10px 20px;
		}
		.card-text-content {
			font-size: 20px;
			margin: 20px;
		}

	@media only screen and (min-width: 1367px) {
		.card {
			width: 80%;
			height: 220px;
			position: relative;
			margin: 10px auto;
		}
		.card-img {
			width: 400px;
			height: 220px;
			background-color: #9f8bff;
			top: 0px;
			position: absolute;
			background-repeat: no-repeat;
			background-size: 100% auto;
			border-radius: 15px;
		}
		.card:nth-child(even) .card-img {left: 5px;}
		.card:nth-child(odd)  .card-img {right: 5px;}

		.card-text {
			width: 550px;
			height: 220px;
			background-color: white;
			top: 0px;
			position: absolute;
			border: 4px solid #012A38;
			box-sizing: border-box;
			border-radius: 15px;
		}
		.card:nth-child(even) .card-text {right: 0px;}
		.card:nth-child(odd)  .card-text {left: 0px;}
	}
	@media only screen and (max-width: 1366px) {
		.card {
			width: 300px;
			height: 550px;
			padding: 10px;
			display: inline-block;
		}
			.card-img {
				width: 100%;
				height: 200px;
				background-color: #9f8bff;
				background-repeat: no-repeat;
				background-size: 100% auto;
				border-radius: 15px 15px 0px 0px;
			}
			.card-text {
				width: 100%;
				height: 350px;
				background-color: white;
				border: 1px solid #012A38;
				box-sizing: border-box;
				border-radius: 0px 0px 15px 15px;
				border-top: none;
			}
	}

/*Artemka*/
.description-card {
	width: 35%;
	height: auto;
	background-color: #6DC36C;
	border: 4px solid black;
	margin-top: -25px;
	margin-left: 7%;
	margin-bottom: 30px;
	font-size: 30px;
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	line-height: 50px;
	padding-left: 10px;
}