header {
	position: fixed;
	height: var(--header-height);
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0);
	transition: 1.5s cubic-bezier(.03,.74,.26,.84);
	z-index: 2;
}
	header.green {
		background-color: #FF7100;
	}
	header.green a {
		color: white;
	}
header ul {
	list-style-type: none;
}
header ul li {
	display: inline-block;
	height: var(--header-height);
	line-height: var(--header-height);
	padding: 0 20px;
	text-transform: uppercase;
}

header ul li a {
	color: black;
}
