#howto {
	background-color: rgba(0,0,0,0);
}

.howto-page {
	height: auto;
}

#howto .content {
	display: table;
	height: 100%;
	background-color: #9E46AC;
	background-position: center;
}

#howto .content .howto-container {
	display: table-cell;
	vertical-align: middle;
}

#howto .content .howto-container table {
	border-spacing: 50px 15px;
	table-layout: fixed;
	width: 100%;
	margin: 40px 0;
}

#howto .content .howto-container table td {
	vertical-align: top;
}

#howto .content .howto-container table .step-card {
	width: 100%;
}

.title-card {
	width: 30%;
	height: auto;
	background-color: #6DC36C;
	border: 4px solid black;
	margin-top: -50px;
	margin-left: 7%;
	font-size: 30px;
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	line-height: 50px;
	padding-left: 10px;
}

.img-card {
	z-index: 1;
	width: 100px;
	text-align: center;
}

#howto .content .howto-container table .card-num {
	width: 100px;
	height: 100px;
	line-height: 105px;
	border-radius: 50%;
	background-color: #FF7100;
	color: white;
	font-weight: bold;
	font-size: 34px;
	font-family: 'Press Start 2P', cursive;
	margin-top: 20px;
}

#howto .content .howto-container table .step-card .card-title {
	font-weight: bold;
	font-size: 25px;
	margin: 20px 0px;
	color: white;
	text-align: left;
}

#howto .content .howto-container table .step-card .card-description {
	text-align: left;
	margin: 10px 0px;
	color: white;
	font-size: 20px;
}

.howto-button {
	margin-bottom: 30px;
}