#links {
	background-color: rgba(0,0,0,0);
}

#links .content {
	height: 100%;
	background-color: #02ACC9;
	background-position: center;
	display: table;
}

#links .content .links-content {
	width: 60%;
	margin-left: 20%;
	height: 60%;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #FF7100;
	display: table;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#links .content .links-content .links-content-tcell {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 40px;
}

#links .content .links-content .links-content-tcell p {
	margin: 20px 0px;
}

#links .content .links-content .link-img {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#links .content .p1 {background-image: url(images/partner_01.jpg);}
#links .content .p2 {background-image: url(images/partner_02.jpg);}
#links .content .p3 {background-image: url(images/partner_03.jpg);}
#links .content .p4 {background-image: url(images/partner_04.jpg);}
#links .content .p5 {background-image: url(images/partner_05.jpg);}
#links .content .p6 {background-image: url(images/partner_06.jpg);}