#main {
	background-color: rgba(0,0,0,0);
}
#main .view {
	width: 100%;
	height: 100%;
	background-image: url(images/preview-fillter.jpg);
	background-size: 100%;
	background-position: center;
	display: table;
}

#main .view .title {
	padding: 0px 50px;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#main .view .title p {
	font-family: EVOLVE;
	font-size: 100px;
	text-transform: uppercase;
}