#main {
	background-color: rgba(0,0,0,0);
}
#main .view {
	width: 100%;
	height: 100%;
	background-color: #D8D8D8;
	display: table;
}

#main .view .title {
	padding: 0px 50px;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

#main .view .title .title-text {
	margin-top: 20px;
	width: 100%;
	height: 72vh;
	background-image: url(images/cassete.svg);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#main .view .title .title-text p {
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 60px;
	width: 50%;
	position: absolute;
	left: 25%;
	top: 45%;
}

.button a {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
}

#main .view .title .button {
	margin-top: 10px;
}