#schel {
	background-color: rgba(0,0,0,0);
}

#schel .content {
	display: table;
	height: 100%;
	background-color: white;
	background-image: url(images/about_bg.png);
	background-position: center;
}

#schel .content .schedule-container {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: auto;
}

#schel .content .schedule-container table {
	border-spacing: 50px 15px;
	table-layout: fixed;
	width: 100%;
	margin: 20px 0px;
}

#schel .content .schedule-container .sch-title {
	width: 30%;
	height: auto;
	background-color: #6DC36C;
	border: 4px solid black;
	margin-left: 2%;
	font-size: 30px;
	text-align: left;
	font-family: 'Press Start 2P', cursive;
	line-height: 50px;
	padding-left: 10px;
	margin-top: 0px;
}
#schel .content .schedule-container table .schedule-date {
	background-color: #6DC36C;
	height: 100px;
	font-size: 25px;
	font-weight: bold;
}

#schel .content .schedule-container table .schedule-description {
	background-color: #9E46AC;
	padding: 20px;
	color: white;
	font-size: 25px;
}

.schel-button {
	margin: 30px 0;
}
