:root {
	--header-height: 70px;
	--reg-button-h: 100px;
}

@font-face {
    font-family: EVOLVE;
    src: url("fonts/evolve.otf");
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url('images/white-cubes.png');
}

a {
	text-decoration: none;
	color: white;
}

.page {
	height: calc(100vh - var(--header-height));
	width: 100%;
}

.page:first-of-type {
	height: 100vh;
}

.content {
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	left: calc(50% - 500px);
	text-align: center;
}

.button {
	display: inline-block;
	width: var(--reg-button-h);
	height: var(--reg-button-h);
	border-radius: calc(var(--reg-button-h) / 2);
	cursor: pointer;
	transition: 1s;
	position: relative;
	overflow: hidden;
}

	.button:before, .button:after {
		content: "";
		height: var(--reg-button-h);
		width: var(--reg-button-h);
		position: absolute;
		opacity: 1;
		transition: 1s;
	}
	.button:before {
		top: 0px;
		left: 0px;
		border-radius: 50%;
		background-color: #FF7100;
	}
	.button:after {
		top: 0px;
		right: 0px;
		background-image: url(images/play-arrow.png);
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: 65% 50%;
	}

.button-text {
	text-align: center;
	height: var(--reg-button-h);
	line-height: var(--reg-button-h);
	width: var(--reg-button-h);
	border-radius: calc(var(--reg-button-h) / 2)
	font-size: 20px;
	transition: 1s;
}

.button:hover {
	background-color: #FF7100;
	width: 300px;
	height: var(--reg-button-h);
	background-image: url();
}
.button:hover:before, .button:hover:after {
	opacity: 0;
}

.button:hover .button-text {
	line-height: var(--reg-button-h);
	width: 300px;
	font-size: 25px;
}

@media screen and (max-width: 1200px) {
	.page {
		width: 100%;
		height: auto !important;
	}

	.content {
		width: 100%;
	}

	#main .view .title .button {
		margin-top: 10px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1000px) {
	#schel .content .schedule-container .sch-title {
		margin-top: -25px !important;
	}
	#main .view .title .title-text {
		height: 40vh !important;
	}
	.description-card {
		margin-top: -50px !important;
	}

	.title-card {
		margin-top: -75px !important;
	}

	#main .view .title .button {
		margin-bottom: 70px;
	}

	.description-button {
		margin-bottom: 90px !important;
	}

	.main-button {
		margin-top: -30px !important;
	}

	#links .content .links-content {
		margin-top: 50px !important;
	}
}