:root {
	--header-height: 70px;
}

@font-face {
    font-family: EVOLVE;
    src: url("fonts/evolve.otf");
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url('images/white-cubes.png');
}

a {
	text-decoration: none;
	color: white;
}

.page {
	width: 100%;
	height: calc(100vh - var(--header-height));
}
.page:first-of-type {
	height: 100vh;
}

.content {
	width: 1200px;
	height: 100%;
	margin: 0px auto;
	left: calc(50% - 500px);
	text-align: center;
}

.button {
	padding: 10px;
	display: inline-block;
	background-color: #FF7100;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	background-image: url(images/play-arrow.png);
	transition: border-radius 1s, width 1s, height 1s;
}

.button-text {
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	opacity: 0;
	transition: opacity 1s, height 1s, font-size 1s;
}

.button:hover {
	background-color: #02ACC9;
	border-radius: 10px;
	width: 200px;
	height: 60px;
	background-image: url();
}

.button:hover .button-text {
	line-height: 60px;
	font-size: 25px;
	opacity: 1;
}